{% import "partials/language.html" as lang with context %}

{#-
Temporarily add a footer for the web replacement
Add Source repo as a link in the footer
-#}
<div class="notice_footer">You are seeing an archived version of the Linux website. Please check <a href="http://linux.cern.ch">linux.cern.ch</a> for the main version</div>
<footer class="md-footer">
  {% if page.previous_page or page.next_page %}
    <div class="md-footer-nav">
      <nav class="md-footer-nav__inner md-grid" aria-label="{{ lang.t('footer.title') }}">
        {% if page.previous_page %}
          <a href="{{ page.previous_page.url | url }}" title="{{ page.previous_page.title | striptags }}" class="md-footer-nav__link md-footer-nav__link--prev" rel="prev">
            <div class="md-footer-nav__button md-icon">
              {% include ".icons/material/arrow-left.svg" %}
            </div>
            <div class="md-footer-nav__title">
              <div class="md-ellipsis">
                <span class="md-footer-nav__direction">
                  {{ lang.t("footer.previous") }}
                </span>
                {{ page.previous_page.title }}
              </div>
            </div>
          </a>
        {% endif %}
        {% if page.next_page %}
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-footer-nav__link md-footer-nav__link--next" rel="next">
            <div class="md-footer-nav__title">
              <div class="md-ellipsis">
                <span class="md-footer-nav__direction">
                  {{ lang.t("footer.next") }}
                </span>
                {{ page.next_page.title }}
              </div>
            </div>
            <div class="md-footer-nav__button md-icon">
              {% include ".icons/material/arrow-right.svg" %}
            </div>
          </a>
        {% endif %}
      </nav>
      {% if config.repo_url %}
      <div class="md-footer-nav__source">
        {% include "partials/source.html" %}
      </div>
      {% endif %}
    </div>
  {% else %}
    {% if config.repo_url %}
    <div class="md-footer-nav__source">
      {% include "partials/source.html" %}
    </div>
    {% endif %}
  {% endif %}
</footer>
